body{
    text-align: center;
  background: linear-gradient(45deg, deeppink,salmon,lavender);  
}

img {
margin: 10px;
padding: 20px;
background: linear-gradient(beige,teal);
border-radius: 50px 20px 0 50px;
}
p {
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
